[submodule "exchanges/shapeshiftio"]
	path = exchanges/shapeshiftio
	url = https://github.com/tasercake/shapeshiftio
[submodule "exchanges/krakenex"]
	path = exchanges/krakenex
	url = https://github.com/tasercake/python3-krakenex
[submodule "exchanges/polonio"]
    path = exchanges/polonio
	url = https://github.com/tasercake/polonio
[submodule "cryptomarket"]
	path = cryptomarket
	url = https://github.com/tasercake/cryptomarket
